
<h1>Proof Details</h1>
<p>
    <strong>Abbreviation:</strong>
    <%= @proof.abbreviation %>
</p>
<p>
    <strong>Description:</strong>
    <%= @proof.description %>
</p>

<%= link_to 'Edit', edit_proof_path(@proof)%> |
<%= link_to 'Back', proofs_path(@proof) %>